html {
    height: 100%;
    background: radial-gradient( #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

.star {
    position: absolute;
    background: transparent;
}

.star:after {
    content: " ";
    position: absolute;
    background: transparent;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    font-size: smaller;
    bottom: 0;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.546), #38495a82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 30px;
        letter-spacing: 5px;
        margin-top: -30px;
        padding-left: 5px;
    }
}