@import '~node_modules/modern-normalize/modern-normalize.css';


:root {
    --basic-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;

}


#animation {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    z-index: -1;
}

#stars,
#stars2,
#stars3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    display: block;
    background: transparent;
}

.star {
    position: absolute;
    background: transparent;
}

.star:after {
    content: " ";
    position: absolute;
    background: transparent;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    font-size: smaller;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.384), #38495a53);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 30px;
        letter-spacing: 5px;
        margin-top: -30px;
        padding-left: 5px;
    }
}