.search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;

}

button {
    background: radial-gradient(#1B2735 0%, #090A0F 100%);
    border-radius: 8px;
    border: #151f8db0 1px solid;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4px;
    color: #fff;
    cursor: pointer;
    width: 220px;
    height: 56px;
    text-decoration: none;
    transition: background-color var(--basic-transition), color var(--basic-transition);
}

button:hover {
    background: #090f5325;
}

.button-text {
    display: inline-block;
    margin-right: 15px;
}

.logo {
    vertical-align: middle;
}

input {
    width: 350px;
    background-color: #00000000;
    color: #ffffffbb;
    border-radius: 8px;
    padding-left: 15px;
    border: #151f8db0 1px solid;
}

input:focus {
    outline: #090f53 solid;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.847);
    font-size: 18px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    /* Регулює відстань між елементами сітки */
}

.photo-card {
    padding: 30px;
    margin: 10px;
    border: #7277be5c 1px solid;
    border-radius: 20px;
    text-align: center;
}

.info {
    color: #fff;
}




.load-more {
    margin-top: 20px;
    width: 169px;
}

@media screen and (max-width: 600px) {
    .search-form {
        flex-direction: column;
    }

    button {
        margin-left: 30px;
        margin-top: 20px;
        width: 100%;
    }

    .button-text {
        margin-right: 0;
        text-align: center;
    }

    input {
        width: 100%;
    }

    .load-more {
        width: 100%;
    }
}