
.search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 20px;
}

button {
    background: #090a0f00;
    border-radius: 8px;
    border: #1c27a2e1 1px solid;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4px;
    color: #fff;
    cursor: pointer;
    width: 220px;
    height: 56px;
    text-decoration: none;
    transition: color var(--basic-transition), border var(--basic-transition);
}

button:hover {
    background: #090f5325;
    border-color: #2d3ce2;
}

.button-text {
    display: inline-block;
    margin-right: 15px;
}

.logo {
    border-radius: 0;
    vertical-align: middle;
}

input {
    width: 350px;
    background-color: #00000000;
    color: #ffffffbb;
    border-radius: 8px;
    padding-left: 15px;
    border: #1c27a2e1 1px solid;
}

input:focus {
    outline: #2d3ce2 1px solid;
}

input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.photo-card {
    padding: 30px;
    margin: 10px;
    border-bottom: #7277be84 1px solid;
    border-top: #7277be82 1px solid;
    border-radius: 20px;
    text-align: center;
}

.info {
    color: #fff;
}

.photo-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card img:hover {
    transform: scale(1.04);
}

.load-more {
    /* display: block; */
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    
    
}

@media screen and (max-width: 600px) {
    .search-form {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin-bottom: 0px;
    }

    button {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }

    .button-text {
        margin-right: 0;
        text-align: center;
    }

    input {
        width: 100%;
        font-size: 22px;
        height: 50px;
    }

    .load-more {
        margin-top: 15px;
        margin-bottom: 25px;
        width: 100%;
    }

    .gallery {
        padding: 10px;
        grid-template-columns: 1fr;
    }

   
}